
<div class="html-replace" data-target="config-container">

  <div class="display" id="game_name">
    <span>Name:</span>
    <input type='text' class='game_input' value='Noname'>
    <br/>
  </div>

  {% for i, p in enumerate(config.pieces) %}

  <div class="brake"></div>
  <input type="button" class="floating" value="Piece '{% raw p["name"] %}':"/>
    <div class="display">
      <div class="config-piece">
        <img src="../textures/{% raw p["texture"] %}"/>
        <div class="text_label piece-0">{% raw p["texture"] %}</div> 
      </div>
      <div class="config-piece">
        <span class="config-piece">
          <textarea rows="1" class="piece-1" style="width: 70px;">{% raw p["width"] %}</textarea>
          <div class="text_label">Width</div> 
        </span><span class="config-piece">
         <textarea rows="1" class="piece-2" style="width: 70px;">{% raw p["height"] %}</textarea>
          <div class="text_label">Height</div> 
        </span>
        </div>

      <input type="button" class="floating" value="Coordinates →"/>
      <div style="float: right; margin-right:20px;">

    {% for y in range (-10, 10) %}

        <div style="clear: both;"></div>

      {% if y in p["squares"] %}

        {% for x in range (-8, 30) %}
          {% if x in p["squares"][y] and p["squares"][y][x] == i %}
        <div class="square" style="background-color: rgb(51, 51, 221);"></div>
          {% else %}
        <div class="square" style="background-color: rgb(255, 68, 51);"></div>
          {% end %}
        {% end %}

      {% else %}
        {% for x in range (-8, 30) %}
        <div class="square" style="background-color: rgb(255, 68, 51);"></div>
        {% end %}
      {% end %}
    {% end %}

      </div>
      <div style="clear: both;"></div>
    </div>
  {% end %}
    <div class="brake"></div>
    <input type="button" class="floating" value="Music:"/>
    <div class="display">

  {% for count, a in enumerate(config.audio) %}
      <audio controls="controls">
        <source src="{% raw a[0] %}"/>
      </audio>
      <div class="config-piece">
        <textarea rows="1" cols="20">{% raw a[0] %}</textarea>
      {% if count == 0 %}<div class="text_label">Path</div>{% end %}
      </div>

      <div class="config-piece">
        <textarea rows="1" cols="16">{% raw a[1] %}</textarea>
      {% if count == 0 %}<div class="text_label">Output Filter</div>{% end %}
     </div>
    <br/>
    {% if len(a) > 4 %}
      <div class="config-piece">
        <textarea rows="1" cols="3">{% raw a[3] %}</textarea>
      {% if count == 0 %}<div class="text_label">Entry Bar</div>{% end %}
      </div>
      <div class="config-piece">
        <textarea rows="1" cols="3">{% raw a[4] %}</textarea>
      {% if count == 0 %}<div class="text_label">Measure Length</div>{% end %}
      </div>
    {% end %}
      <br style="clear:both;"/>
  {% end %}
    </div>
    <div class="brake"></div>
    <input type="button" class="floating" value="Textures:"/>
    <div class="display">
  {% for t in config.textures %}
      <div class="texture-container">
        <img src="../textures/{% raw t %}"/>
        <div class="text_label">{% raw t %}</div> 
      </div>
  {% end %}
    </div>
    <div class="brake"></div>
    <input type="button" class="floating" value="Misc"/>

    <div class="display">
      <div style="float: left;  position: relative;">
        <br/>
        <textarea rows="1" cols="9">{% raw config.grid_size %}</textarea>
        <div class="text_label">Grid Size</div>
      </div>
      <div style="float: left;  position: relative;">
        <br/>
        <textarea rows="1" cols="2">{% raw config.start_position[0] %}</textarea>
        <textarea rows="1" cols="2">{% raw config.start_position[1] %}</textarea>
        <textarea rows="1" cols="2">{% raw config.start_position[2] %}</textarea>
        <div class="text_label">Start Position</div>
      </div>
    </div>
  </div>
</div>
