#players-container {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 700px;
    height: 200px;
    background-color: rgba(100, 100, 100, 0.7);
}

#player-login {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 25%;
}

#player-login textarea { width: 95%; }
#player-login .socket-button { width: 95%; }

.player-info {
    border: 3px inset rgb(10, 10, 50);    
    width:200px;
    height: 150px;
    position: absolute;
}

.player-info .device {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 20px;
    width: 20px;
}

.player-info .name {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 20px;
    margin: 5px;
    /* this should look like a plaque */
    background-color: rgb(200, 200, 40);
    color: rgb(40, 40, 0);
}

.player-info .chatbox {
    position: absolute;
    top: 34px;
    right: 4px;
}